@import "~scss/variables";

.acris-product-download-tab-list {
    .acris-product-download-tab-list__content {
        width: 100%;
        height: 100%;
        margin: auto;
        position: absolute;
    }

    .is--inactive {
        color: #DE294C;
    }

    .is--active {
        color: #37D046;
    }

}

.acris-product-download-tab-list__sidebar {
    .acris-sidebar-item__scrollable-container {
        padding: 0 25px;
    }
}
