@import "~scss/variables";

.swag-cms-extensions-custom-form-element-preview {
    overflow: auto;

    &__headline {
        margin-bottom: 10px;
        border-bottom: 1px solid $color-gray-300;
        padding-bottom: 5px;
    }

    &__static_inputs {
        overflow: auto;

        & > .swag-cms-extensions-custom-form-element-preview__input {
            width: calc(25% - 7px);
            float: left;

            &:first-child {
                width: calc(75% - 3px);
                margin-right: 10px;
            }
        }
    }

    &__flexible_inputs {
        overflow: auto;

        & > .swag-cms-extensions-custom-form-element-preview__input {
            width: calc(25% - 7px);
            float: left;
            margin-right: 10px;

            &:first-child {
                width: calc(25% - 6px);
            }

            &-new {
                width: calc(50% - 7px);
                margin-right: 0;
            }
        }
    }

    &__input {
        margin-bottom: 10px;
        height: 1em;
        border-radius: 4px;
        border: 1px solid $color-gray-300;

        &-new {
            border: 2px dashed $color-gray-300;
            color: $color-gray-300;
            text-align: center;

            & > .sw-icon {
                width: 10px;
                height: 10px;
                margin-top: -12px;
            }
        }
    }

    &__action {
        float: right;
        padding: 0 10px;
        background: $color-gray-300;
        color: $color-darkgray-200;
        text-align: center;
        font-size: 12px;
        line-height: 26px;
        border-radius: 3px;
    }
}
