{% block swag_cms_extensions_form_element_select %}
    <sw-select-field :label="field.translated ? field.translated.label : field.label"
                     :required="field.required">
        <option value=""
                :disabled="field.required"
                selected>
            {{ field.translated ? field.translated.placeholder : field.placeholder }}
        </option>
    </sw-select-field>
{% endblock %}
