<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Minimal configuration</title>
        <input-field type="single-select">
            <name>display</name>
            <label>Display option</label>
            <label lang="de-DE">Anzeige Möglichkeiten</label>
            <options>
                <option>
                    <id>left</id>
                    <name>left</name>
                    <name lang="de-DE">links</name>
                </option>
                <option>
                    <id>under</id>
                    <name>under</name>
                    <name lang="de-DE">unterhalb</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>elasticsearchAktive</name>
            <label>Elasticsearch available</label>
            <label lang="de-DE">Elasticsearch-Server verfügbar</label>
            <options>
                <option>
                    <id>1</id>
                    <name>Yes</name>
                    <name lang="de-DE">Ja</name>
                </option>
                <option>
                    <id>2</id>
                    <name>No</name>
                    <name lang="de-DE">Nein</name>
                </option>
            </options>
        </input-field>
        <input-field type="int">
            <name>hits</name>
            <label>Max Hits</label>
            <label lang="de-DE">Maximale Treffer</label>
        </input-field>
        <input-field type="int">
            <name>length</name>
            <label>Text length in Char</label>
            <label lang="de-DE">Text länge in Char.</label>
        </input-field>
        <input-field type="single-select">
            <name>operator</name>
            <label>Operator and or </label>
            <label lang="de-DE">Verküpfung and oder or</label>
            <options>
                <option>
                    <id>and</id>
                    <name>and</name>
                    <name lang="de-DE">und</name>
                </option>
                <option>
                    <id>or</id>
                    <name>or</name>
                    <name lang="de-DE">Oder</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>fuzzy</name>
            <label>Fuzzy  (spelling errors)</label>
            <label lang="de-DE">Fuzzy (Fehlerkorrektur)</label>
            <options>
            <option>
                <id>0</id>
                <name>0</name>
            </option>
            <option>
                <id>AUTO</id>
                <name>Auto</name>
            </option>
            <option>
                <id>1</id>
                <name>1</name>
            </option>
            <option>
                <id>2</id>
                <name>2</name>
            </option>
            <option>
                <id>3</id>
                <name>3</name>
            </option>
            <option>
                <id>4</id>
                <name>4</name>
            </option>
            <option>
                <id>5</id>
                <name>5</name>
            </option>
            <option>
                <id>6</id>
                <name>6</name>
            </option>
            <option>
                <id>7</id>
                <name>7</name>
            </option>
            <option>
                <id>8</id>
                <name>8</name>
            </option>
            <option>
                <id>9</id>
                <name>9</name>
            </option>
            <option>
                <id>10</id>
                <name>10</name>
            </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>searchPage</name>
            <label>The hits on the search result page are transferred to the frontend. You have to take care of the output by yourself</label>
            <label lang="de-DE">Die Treffer auf der Suchergebnis werden an das Frontend Übergeben. Die Ausgabe müssen Sie selber übernehmen </label>
            <options>
                <option>
                    <id>1</id>
                    <name>Yes</name>
                    <name lang="de-DE">Ja</name>
                </option>
                <option>
                    <id>2</id>
                    <name>No</name>
                    <name lang="de-DE">Nein</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>doppelcategorie</name>
            <label>Remove duplicate categories</label>
            <label lang="de-DE">Doppelte Kategorien entfernen</label>
            <options>
                <option>
                    <id>1</id>
                    <name>Yes</name>
                    <name lang="de-DE">Ja</name>
                </option>
                <option>
                    <id>2</id>
                    <name>No</name>
                    <name lang="de-DE">Nein</name>
                </option>
            </options>
            <defaultValue>1</defaultValue>
        </input-field>
        <input-field type="single-select">
            <name>highlight</name>
            <label>Highlight the hits in the content. Only works from SisiSearch Version 7.0.7</label>
            <label lang="de-DE">Suchtreffer im Text makieren. Funktioniert erst ab der SisiSearch Version 7.0.7</label>
            <options>
                <option>
                    <id>1</id>
                    <name>Yes</name>
                    <name lang="de-DE">Ja</name>
                </option>
                <option>
                    <id>2</id>
                    <name>No</name>
                    <name lang="de-DE">Nein</name>
                </option>
            </options>
            <defaultValue>2</defaultValue>
        </input-field>
    </card>
    <card>
        <title>Exclude out enter with line break</title>
        <title lang="de-DE">Ausschließen von Inhalten. (Mit Zeilen Umbruch eingeben)</title>
        <input-field type="textarea">
            <name>outIds</name>
            <label>Content IDs that should not be indexed. (For developers because the IDs are determined via the database table cms_slot_translation)</label>
            <label lang="de-DE">Content Ids die nicht Indexiert werden sollen. Nur für Entwickler da die Ids über die Datenbank (cms_slot_translation) ermittelt werden müssen.</label>
        </input-field>
        <input-field type="textarea">
            <name>outCategorien</name>
            <label>Exclude categories by name.</label>
            <label lang="de-DE">Kategorien über den Namen ausschliessen.</label>
        </input-field>
    </card>
</config>
