<div class="moorl-form-element-input-section-open">
    <moorl-collapse class="content--single"
                    :label="$tc('moorl-form-builder.general.elementInput')"
                    key="elementInput">
        <template #content>
            <sw-field :placeholder="$tc('moorl-form-builder.properties.cssClass')"
                      :label="$tc('moorl-form-builder.properties.cssClass')"
                      :helpText="$tc('moorl-form-builder.tooltips.cssClass')"
                      v-model="formElement.cssClass"></sw-field>
            <sw-field :placeholder="$tc('moorl-form-builder.properties.cssId')"
                      :label="$tc('moorl-form-builder.properties.cssId')"
                      :helpText="$tc('moorl-form-builder.tooltips.cssId')"
                      v-model="formElement.cssId"></sw-field>
            <sw-code-editor :label="$tc('moorl-form-builder.properties.html')"
                            v-model="formElement.html"
                            :softWraps="false">
            </sw-code-editor>
        </template>
    </moorl-collapse>
</div>
