<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Settings</title>
        <title lang="de-DE">Einstellungen</title>

        <input-field type="bool">
            <name>rhwebActivateThemeConfigHints</name>
            <label>Enable hints in the theme configuration</label>
            <label lang="de-DE">Hinweise in der Theme-Konfiguration aktivieren</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>
</config>
