{% block definition %}
<ropi-content-element
        type="RopiFrontendEditing/container"
        icon="view_stream"
        color="#ffc107"
        group="{% trans %}ropi-frontend-editing.contentElement.definition.group.layout{% endtrans %}"
        name="{% trans %}ropi-frontend-editing.contentElement.definition.element.container{% endtrans %}"
        languagespecificsettings="{% block languagespecificsettings %}{% endblock %}"
        src="{{ path('ropi.frontend-editing.element.render') }}">
    <template>
        {% block settings_template %}
        <ropi-tabs scrollable tablistposition="bottom">
            {% block tab_general %}
                <ropi-touchable slot="tab">{% trans %}ropi-frontend-editing.contentElement.definition.tab.general{% endtrans %}</ropi-touchable>
            {% endblock %}
            {% block tabpanel_general %}
                <div slot="tabpanel">
                    {% block tabpanel_general_inner %}

                        {% block layout %}
                            {% sw_include '@RopiFrontendEditing/content-editor/elements/common/settings/layout.html.twig' with {
                                'name': 'layout',
                                'stretchHeight': {
                                    'name': 'stretchHeight'
                                }
                            } %}
                        {% endblock %}

                        {% block vertical_align %}
                            {% sw_include '@RopiFrontendEditing/content-editor/elements/common/settings/vertical-align.html.twig' with {
                                'name': 'verticalAlign'
                            } %}
                        {% endblock %}

                        {% block background_color %}
                            {% sw_include '@RopiFrontendEditing/content-editor/elements/common/settings/background-color.html.twig' with {
                                'name': 'backgroundColor'
                            } %}
                        {% endblock %}

                        {% block text_color %}
                            {% sw_include '@RopiFrontendEditing/content-editor/elements/common/settings/text-color.html.twig' with {
                                'name': 'textColor'
                            } %}
                        {% endblock %}

                        {% block border_color %}
                            {% sw_include '@RopiFrontendEditing/content-editor/elements/common/settings/border-color.html.twig' with {
                                'name': 'borderColor',
                                'showNoneOption': true,
                                'checkedDefaultOption': 'none',
                                'hideDefaultOption': true
                            } %}
                        {% endblock %}

                        {% block rounding %}
                            {% sw_include '@RopiFrontendEditing/content-editor/elements/common/settings/rounding.html.twig' with {
                                'name': 'rounding',
                                'hideDefaultOption': true,
                                'showNoneOption': true,
                                'checkedDefaultOption': 'none'
                            } %}
                        {% endblock %}

                    {% endblock %}
                </div>
            {% endblock %}
            {% block breakpoints_tabs %}
                {% for breakpoint in breakpoints %}
                    {% block tab_breakpoint %}
                        <ropi-touchable slot="tab">{{ breakpoint.name }}</ropi-touchable>
                    {% endblock %}
                    {% block tabpanel_breakpoint %}
                        <div slot="tabpanel">
                            {% block tabpanel_breakpoint_inner %}

                                {% block general %}
                                    {% sw_include '@RopiFrontendEditing/content-editor/elements/common/settings/general.html.twig' %}
                                {% endblock %}

                            {% endblock %}
                        </div>
                    {% endblock %}
                {% endfor %}
            {% endblock %}
        </ropi-tabs>
        {% endblock %}
    </template>
</ropi-content-element>
{% endblock %}
