@import "~scss/variables";

.swag-cms-extensions-form-template-modal {
    &__modal{
        .sw-modal__dialog {
            .sw-grid__header {
                padding-left: 15px;
            }
            .sw-modal__body {
                height: 700px;
                padding: 0;
                display: flex;

                .sw-grid-row {
                    padding-left: 15px;
                }

                .sw-data-grid.sw-data-grid--full-page {
                    height: 87%;
                }
            }
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: [search-field] 80px [product-grid] auto;
        position: relative;
        width: 100%;
    }

    &__search-field-label {
        width: 100%;
        height: 100%;
        grid-row: search-field;
        background: $color-gray-100;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        padding: 0;
        border-bottom: 1px solid $color-gray-300;

        &:hover {
            background: $color-gray-100;
        }
    }

    &__search-field {
        margin: 24px 32px;
    }

    &__entity-listing {
        margin-top: 85px;
    }

    &__empty-state {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin-top: 25%;
    }
}
