{% block sw_cms_block_acris_product_downloads_preview %}
    <div class="sw-cms-preview-acris-product-downloads">
        {% block sw_cms_block_acris_product_downloads_preview_headline %}
            <h4 class="acris-product-downloads-headline">
                {{ $tc('acris-product-downloads.elements.productDownloads.placeholder.title') }}
            </h4>
        {% endblock %}
        {% block sw_cms_block_acris_product_downloads_preview_list %}
            <div class="acris-product-downloads-list">
                <ul>
                    <li><span>Dolor sit amet</span></li>
                    <li><span>Consetetur sadipscing elitr</span></li>
                    <li><span>Sed diam nonumy</span></li>
                </ul>
            </div>
        {% endblock %}
    </div>
{% endblock %}
