{% block definition %}
<ropi-content-element
        type="RopiFrontendEditing/html"
        icon="code"
        color="#d0d000"
        group="{% trans %}ropi-frontend-editing.contentElement.definition.group.other{% endtrans %}"
        name="{% trans %}ropi-frontend-editing.contentElement.definition.element.html{% endtrans %}"
        languagespecificsettings="{% block languagespecificsettings %}{% endblock %}"
        src="{{ path('ropi.frontend-editing.element.render') }}">
    <template>
        {% block settings_template %}
        <ropi-tabs scrollable tablistposition="bottom">
            {% block tab_general %}
                <ropi-touchable slot="tab">{% trans %}ropi-frontend-editing.contentElement.definition.tab.general{% endtrans %}</ropi-touchable>
            {% endblock %}
            {% block tabpanel_general %}
                <div slot="tabpanel">
                    {% block tabpanel_general_inner %}

                        {% block markup %}
                            <div class="ropi-margin-h">
                                <ropi-textarea name="markup">
                                    <div slot="placeholder">{% trans %}ropi-frontend-editing.contentElement.definition.label.markup{% endtrans %}</div>
                                </ropi-textarea>
                            </div>
                        {% endblock %}

                    {% endblock %}
                </div>
            {% endblock %}
            {% block breakpoints_tabs %}
                {% for breakpoint in breakpoints %}
                    {% block tab_breakpoint %}
                        <ropi-touchable slot="tab">{{ breakpoint.name }}</ropi-touchable>
                    {% endblock %}
                    {% block tabpanel_breakpoint %}
                        <div slot="tabpanel">
                            {% block tabpanel_breakpoint_inner %}

                                    {% block general %}
                                        {% sw_include '@RopiFrontendEditing/content-editor/elements/common/settings/general.html.twig' %}
                                    {% endblock %}

                            {% endblock %}
                        </div>
                    {% endblock %}
                {% endfor %}
            {% endblock %}
        </ropi-tabs>
        {% endblock %}
    </template>
</ropi-content-element>
{% endblock %}
