<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Basic Configuration</title>
        <title lang="de-DE">Grundeinstellungen</title>

        <input-field type="bool">
            <name>enabled</name>
            <label>Enabled</label>
            <label lang="de-DE">Aktiviert</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="text">
            <name>imageNumber</name>
            <label>Position flip image</label>
            <label lang="de-DE">Position Flip Bild</label>
            <defaultValue>2</defaultValue>
        </input-field>

    </card>
</config>
