h1{
    font-family:$rhweb-typography-headline-1-font-family;
    letter-spacing:$rhweb-typography-headline-1-letter-spacing;
    text-transform: $rhweb-typography-headline-1-text-transform;
    text-decoration: $rhweb-typography-headline-1-text-decoration;
}

h2{
    font-family:$rhweb-typography-headline-2-font-family;
    letter-spacing:$rhweb-typography-headline-2-letter-spacing;
    text-transform: $rhweb-typography-headline-2-text-transform;
    text-decoration: $rhweb-typography-headline-2-text-decoration;
}

h3{
    font-family:$rhweb-typography-headline-3-font-family;
    letter-spacing:$rhweb-typography-headline-3-letter-spacing;
    text-transform: $rhweb-typography-headline-3-text-transform;
    text-decoration: $rhweb-typography-headline-3-text-decoration;
}

h4{
    font-family:$rhweb-typography-headline-4-font-family;
    letter-spacing:$rhweb-typography-headline-4-letter-spacing;
    text-transform: $rhweb-typography-headline-4-text-transform;
    text-decoration: $rhweb-typography-headline-4-text-decoration;
}

h5{
    font-family:$rhweb-typography-headline-5-font-family;
    letter-spacing:$rhweb-typography-headline-5-letter-spacing;
    text-transform: $rhweb-typography-headline-5-text-transform;
    text-decoration: $rhweb-typography-headline-5-text-decoration;
}

h6{
    font-family:$rhweb-typography-headline-6-font-family;
    letter-spacing:$rhweb-typography-headline-6-letter-spacing;
    text-transform: $rhweb-typography-headline-6-text-transform;
    text-decoration: $rhweb-typography-headline-6-text-decoration;
}
