<div>
	{# <sw-button @click="buttonNewClicked" :disabled="true" variant="primary" :square="false" :block="false" :isLoading="false">
	    Call script
	</sw-button> #}<br><br>
	<sw-button @click="buttonAttachmentClicked" :disabled="false" variant="primary" :square="false" :block="false" :isLoading="false">
	    Migrate EAN
	</sw-button>
</div>
