<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Article URL configuration</title>
        <title lang="de-DE">Artikel-URL Konfiguration</title>
        <input-field type="text">
            <name>subpath</name>
            <label>Virtual subpath</label>
            <label lang="de-DE">Unterverzeichnis</label>
        </input-field>
    </card>
</config>
